<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

    <div class="container">
        <div class="row">

            <div class="col-sm-9">

                <div class="page-header">
                    <h1>What is Connected Stories?</h1>
                </div>

                <h4>An experiment with longer form photo essays and projects.</h4>

                <br/>
                <hr/>
                <br/>

                <h4>You can view my portfolio at: <a href="http://www.redwylie.com" target="_blank">redwylie.com</a></h4>

                <br/>
                <hr/>
                <br/>

                <h4>A Jamaica Plain focused project at:<a href="http://www.humansofjp.com" target="_blank">humansofjp.com</a></h4>

            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

