a.link:hover {
    text-decoration: none;
}


// THIS KEEPS THE HOVER DISPLAY HIDDEN FROM MOBILE DEVICES
@media (min-width: $screen-sm-min) {
    
    .card:hover {
        border: 1px solid $blue-one-highlight;
    }
        
}

.card {
	height: 315px;
	width: 100%;
	cursor: pointer;
    border: 1px solid $gray-two-highlight;
    margin-bottom: 30px;
    overflow: hidden;
    color: $gray-three-shadow;

    .panel-heading {
        height: 200px;
        background-size: cover;
        cursor: pointer;
        background-position: center;
    }

	h1 {
		font-size: 16px;
        font-weight: 500;
        margin-top: 1px;
	}

}


//CARD HEIGHTS ON THE HOME PAGE


@media (max-width: $screen-xs-max) {
   


}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    
    
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

   

}

@media (min-width: $screen-lg-min) {

    

}